<div class="jumbotron">
  <h2><%= gettext "Welcome to The Fat Track" %></h2>
  <p class="lead">An weight tracker that is super easy to use.</p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h4>Weights List</h4>
  </div>

  <div class="col-lg-8">
    <h4>Weight Chart</h4>
  </div>
</div>
